body {
  background-color: lightgray;
  padding: 10px;
}

.header {
  text-align: center;
  background-color: white;
  padding: 30px;
}

.header h1 {
  font-size: 50px;
}

nav ul {
  background-color: gray;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

.menu {
  padding: 16px;
  font-size: 16px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.home {
  float: right;
  background-color: darkorange;
  font-weight: bold;
  text-align: center;
  width: 100px;
}

.home a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 16px;
}

.column1 {
  background-color: white;
  padding: 20px;
}
.column2 {
  background-color: white;
  padding: 20px;
  margin-top: 40px;
}
.fakeImg1 {
  height: 200px;
  background-color: lightgray;
}
.fakeImg2 {
  height: 100px;
  background-color: lightgray;
}

.footer {
  margin-top: 20px;
  text-align: center;
  padding: 30px;
}

.footer li {
  list-style-type: none;
  font-size: 20px;
}
